body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: 0px;
  color: aliceblue;
  z-index: 1;
}

.weather {
  font-size: 1.5em;
  padding: 1.5em;
  border: 0px;
  margin: 0px;
  margin-right: 1em;
  float: right;
  text-align: center;
}

#imgInput {
  text-align: center;
}

#weatherInput {
  text-align: center;
}

#options {
  cursor: grab;
  margin-top: 5px;
}

#handleImages {
  cursor: grab;
}

#handleAnimations {
  cursor: grab;
}

#handleWeather {
  cursor: grab;
}

#optionsMenu {
  display: none;
  position: relative;
  text-align: center;
  float: left;
  direction: ltr;
  min-width: 100px;
  max-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  font-size: 0.7em;
}

#creatorStamp {
  position: fixed;
  margin: 0px;
  padding: 0px;
  left: 4px;
  bottom: 4px;
  font-size: 10pt;
}

.descriptionSpacer {
  height: 10px;
}

.clockSwitchContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* SLIDER */

.slidecontainer {
  display: flex;
  justify-content: space-around;
  width: 100%; /* Width of the outside container */
}

.clocksLabel {
  width: 20%;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 60%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.summaryTitle {
  margin-bottom: 10px;
}

#dateColorSettings {
  margin-bottom: 10px;  
  margin-top: 10px;
}

#weatherDescriptionSettings {
  margin-top: 10px;
  margin-bottom: 10px;
}